<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wooting</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/index.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <div class="logo">
          <img src="/public/img/Main_Logo_black.svg" alt="Wooting Logo" />
        </div>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/views/products.html">Our products</a></li>
            <li><a href="/views/help.html">Help</a></li>
          </ul>
        </nav>
        <div class="header-icons">
          <!-- 
      <a href="/products.html" id="user-icon"><img src="/img/cart-regular-24.png" alt="Cart" /></a>
    -->
          <a href="#" id="user-icon"
            ><img src="/public/img/user-regular-24.png" alt="User"
          /></a>
        </div>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="hero-content">
          <div class="video">
            <iframe
              width="720"
              height="404"
              src="https://www.youtube.com/embed/MAJl103M9bI"
              title="Wooting 60HE - Founders&#39; Campaign (Raised €255,129 - now available )"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="hero-text">
            <h1 class="hero-text-h1">Wooting 60HE+</h1>
            <p>
              The Wooting 60HE+ is a reality and available for (pre-)order
              thanks to the original 1298 founders.
            </p>
            <p>
              We are now mass-producing the Wooting 60HE+ on a frequent cycle.
              You can find all the production batches and their status on the
              Batch info page.
            </p>
            <p>
              When you place an order, you'll be added to the first available
              batch with the earliest delivery. The shipment date of this batch
              will be displayed during checkout.
            </p>
            <p>
              We are not able to estimate a next-day shipping date due to
              (volatile) high demand. We can promise that we're manufacturing at
              full capacity to get ahead of the curve. The sooner you place an
              order, the earlier you'll receive it. If you change your mind, you
              can always cancel for a full refund before shipment.
            </p>
            <button class="order-now">Order now</button>
          </div>
        </div>
      </section>

      <section class="module">
        <div class="module-content">
          <img src="/public/img/WOOTING 60HE+ module.png" alt="module" />
          <h2>60HE+ Module available</h2>
          <p>A standalone module of the 60HE, made for keyboard enthusiasts.</p>
          <button class="learn-more">Learn more</button>
        </div>
      </section>
      <section class="products">
        <div class="product">
          <img src="/public/img/product-60he.png" alt="Wooting 60HE+" />
          <h3>WOOTING 60HE+</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <button>Ir al producto...</button>
        </div>
        <div class="product">
          <img src="/public/img/WOOTING 60HE+.png" alt="Wooting 80HE" />
          <h3>Wooting 80HE</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <button>Ir al producto...</button>
        </div>
        <div class="product">
          <img src="/public/img/WOOTING UwU.png" alt="Wooting UwU" />
          <h3>WOOTING UwU</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <button>Ir al producto...</button>
        </div>
        <div class="product">
          <img
            src="/public/img/WOOTING 60HE+ module.png"
            alt="Wooting Module"
          />
          <h3>WOOTING MODULE</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <button>Ir al producto...</button>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-content">
        <div class="contact-info">
          <h2>WOOTING</h2>
          <p>Questions, feedback or need help?</p>
          <p>social@wooting.io</p>
          <div class="social-icons">
            <a href="#"
              ><img src="/public/img/github-logo-24.png" alt="Social 1"
            /></a>
            <a href="#"
              ><img src="/public/img/twitter-logo-24.png" alt="Social 2"
            /></a>
          </div>
        </div>
        <div class="footer-links">
          <a href="#">Home</a>
          <a href="#">Updates</a>
          <a href="#">Wootility web</a>
          <a href="#">Double movement</a>
          <a href="#">Github</a>
          <a href="#">About us</a>
          <a href="#">Contact us</a>
          <a href="#">Press & marketing</a>
        </div>
        <div class="footer-links">
          <a href="#">Account</a>
          <a href="#">Order status</a>
          <a href="#">Help</a>
          <a href="#">Privacy policy</a>
          <a href="#">Customer review policy</a>
          <a href="#">Shipping policy</a>
          <a href="#">About us</a>
          <a href="#">Warranty & Return policy</a>
          <a href="#">Legal notice</a>
        </div>
      </div>
    </footer>

    <!-- Tarjeta de Login -->
    <div id="login-card" class="login-card">
      <h2>Iniciar Sesión</h2>
      <form id="login-form">
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required />
        <div class="buttons">
          <button type="submit">Entrar</button>
          <button type="button" id="register-button">Registrarse</button>
        </div>
      </form>
    </div>

    <script src="/models/scripts.js"></script>
  </body>
</html>
